body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #9fb7ee;
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: rgb(234, 255, 0);

}


.start {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-flex;
    margin-right: 75%;
    margin-top: 10%;
    visibility: hidden;
}
.end {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-flex;
    margin-top: 10%;
    visibility: hidden;
}

h2 {
    margin-top: 15%;
}

ul {
    list-style: none;
    padding: 0;
    
}

li {
    background: white;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
